# build output
.wrangler
.vercel/
dist/

# generated types
.astro/
.vscode/count

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# lock files
package-lock.json
yarn.lock

# TODO files
todo*

# environment variables
.env
.env.production
wrangler.toml

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
