{
	"printWidth": 1000,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"endOfLine": "auto",
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-astro", "prettier-plugin-svelte"],
	"svelteSortOrder": "options-scripts-markup-styles"
}
