---
import { getEntry, render } from "astro:content";
import config, { monolocale } from "$config";
import Time from "$utils/time";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";

export async function getStaticPaths() {
	// Create path for each locale, omitting default locale from URL
	return config.i18n.locales.map(locale => ({ params: { locale: config.i18n.defaultLocale === locale ? undefined : locale } }));
}

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const introduction = await getEntry("information", `${monolocale ? "" : locale}/introduction`);
const roll = await getEntry("information", `${monolocale ? "" : locale}/roll`);
const chronicle = (await getEntry("information", `${monolocale ? "" : locale}/chronicle`))?.data;

const { Content: Introduction } = introduction ? await render(introduction) : ({} as any);
const { Content: Roll } = roll ? await render(roll) : ({} as any);

const chronicles = Object.entries<string[]>(chronicle ?? {})
	.map(([date, events]) => ({ date: new Date(date), events: events ?? [] }))
	.sort((a, b) => b.date.getTime() - a.date.getTime());
---

<style lang="less">
	article {
		div {
			margin-bottom: 2rem;

			h1 {
				margin-bottom: 1rem;

				font-size: 1.8rem;
			}
		}
	}
</style>

<Base title={t("navigation.about")} {locale}>
	<main class="flex flex-col sm:flex-row justify-between gap-5">
		<article class="flex flex-col">
			{
				introduction && (
					<div>
						<h1>{t("about.introduction")}</h1>
						<samp class="markdown">
							<Introduction />
						</samp>
					</div>
				)
			}
			{
				roll && (
					<div>
						<h1>{t("about.roll")}</h1>
						<samp class="markdown">
							<Roll />
						</samp>
					</div>
				)
			}
		</article>

		<aside class="flex flex-col justify-between flex-basis-60 flex-shrink-0 mb-3">
			<ul class="list-none relative before:(absolute content-empty h-full top-2 b-l-2 b-l-solid b-primary) after:(absolute content-empty w-2 h-2 -bottom-2 -left-1.2 b-2 b-solid b-primary rd-full bg-primary)">
				{
					chronicles.map(chronicle => (
						<li class="relative mb-2 pb-2 pl-3 before:(absolute content-empty w-2 h-2 top-1 -left-1.2 b-2 b-solid b-primary rd-full bg-background)">
							<span class="relative font-mono">{Time.date(chronicle.date)}</span>
							<ul class="my-2 pl-3.5 list-none">
								{chronicle.events.map(event => {
									const remove = event?.match(/^~(?!~)(.*)$/);
									return <li class="relative my-1 before:(absolute content-empty top-2 -left-2.5 w-1 h-1 b b-solid b-primary rd-full)">{remove ? <del>{remove[1]}</del> : event}</li>;
								})}
							</ul>
						</li>
					))
				}
			</ul>
		</aside>
	</main>
</Base>
