---
import { render } from "astro:content";
import config, { monolocale } from "$config";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";
import { getEntry } from "astro:content";

export async function getStaticPaths() {
	// Create path for each locale, omitting default locale from URL
	return config.i18n.locales.map(locale => ({ params: { locale: config.i18n.defaultLocale === locale ? undefined : locale } }));
}

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const policy = await getEntry("information", `${monolocale ? "" : locale}/policy`);
const { Content } = policy ? await render(policy) : ({} as any);
---

<Base title={t("navigation.policy")} {locale}>
	<main>
		{
			policy && (
				<div class="markdown">
					<Content />
				</div>
			)
		}
	</main>
</Base>
