---
import { getCollection } from "astro:content";
import config, { monolocale } from "$config";
import Time from "$utils/time";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";

export async function getStaticPaths() {
	// Create path for each locale, omitting default locale from URL
	return config.i18n.locales.map(locale => ({ params: { locale: config.i18n.defaultLocale === locale ? undefined : locale } }));
}

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const prefaces = (
	await getCollection("preface", preface => {
		// Handle single locale setup
		if (monolocale) return true;

		// Extract language and ID from file path structure
		const [language, id] = preface.id.split("/");
		preface.id = id;

		return language === locale;
	})
).sort((a, b) => b.data.timestamp.getTime() - a.data.timestamp.getTime());
---

<Base title={t("navigation.preface")} {locale}>
	<main class="flex flex-col">
		<h2>{t("home.prefaces")}</h2>
		<ul class="flex flex-col list-none">
			{
				prefaces.map(preface => [
					<hr class="my-5 b-b b-b-solid b-primary" />,
					<li>
						<time datetime={preface.data.timestamp.toISOString()} class="block mb-5 font-bold text-5">
							{Time.locale(preface.data.timestamp, locale)}
						</time>
						<article class="markdown" set:html={preface.rendered?.html} />
					</li>
				])
			}
		</ul>
	</main>
</Base>
