:root {
	--primary-color: #2a2a28;
	--remark-color: #757575;
	--background-color: #fffffd;
	--block-color: #eeeeee;
	--shadow-color: #cdcdcc;
	--selection-color: #adadacc3;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #dddddb;
		--remark-color: #a5a5a5;
		--background-color: #020200;
		--block-color: #1e1e1e;
		--shadow-color: #323231;
		--selection-color: #adadacc3;
	}
}

* {
	margin: 0;
	border: none;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background-color: var(--selection-color);
}

a {
	color: inherit;
	text-decoration: none;
}

html {
	color: var(--primary-color);
	font-family: serif;
	line-height: 1.15;

	background-color: var(--background-color);
}

body {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	max-width: min(100%, 800px);
	min-height: 100vh;

	margin: 0 auto;
	padding: 0rem 0.75rem;
}

header h1 a {
	display: inline-block;

	margin: 0.5rem 0;
	border-bottom: 2px solid var(--primary-color);
	padding-bottom: 0.5rem;
	padding-right: 0.5rem;

	font-size: 1.5rem;
}

header p {
	color: var(--remark-color);
}

blockquote {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	border-radius: 0.5rem;
	padding: 0.75rem 1rem;

	background-color: var(--block-color);
}

blockquote p code {
	margin-right: 0.5rem;
	border-radius: 0.25rem;
	padding: 0.2rem 0.4rem;

	font-size: 0.875rem;

	background-color: var(--shadow-color);
}

blockquote p button {
	border: none;
	padding: 0.2rem 0.4rem;
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-family: inherit;

	color: var(--background-color);
	background-color: var(--primary-color);
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 640px) {
	main section {
		flex-direction: column;
		align-items: flex-start;
	}
}

main section aside {
	display: flex;
	gap: 0.25rem;

	font-size: 0.875rem;

	color: var(--remark-color);
}

main section article {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

main section article a:hover {
	text-decoration: underline;
}

main section article time {
	font-size: 0.65rem;
	color: var(--remark-color);
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;

	margin-top: auto;
	border-top: 1px solid var(--shadow-color);
	padding: 1rem 0;

	color: var(--remark-color);
	font-size: 0.875rem;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 639px) {
	.feed-item {
		gap: 0.25rem;
	}
}
