---
import Base from "$layouts/Base.astro";
---

<Base title="500">
	<main class="contents">
		<div class="inline-flex flex-col items-center justify-center gap-2 text-center grow-0.5 animate-shaky">
			<span class="text-6xl font-bold">500</span>
			<span class="text-2xl">Internal Server Error</span>
		</div>
		<a href="/" class="text-lg text-center link">&gt; Back</a>
	</main>
</Base>
